<div class="parent-div">
    <div class="child-div">
        <div class="g-div">
            <img [src]="'assets/Images/flat-color-icons--google.svg'" width="48" height="48" alt="ggiyu">

        </div><br>
        <div class="forgot-div">
            <form [formGroup]="forgotForm" (ngSubmit)="forgotPwdSubmit()" style="width: 100%;">
                <div class="form-div">
                    <div style="width: 50%;">
                        <p style="font-size: 3vw;padding-left: 11px;">Enter your email</p>
                    </div>

                    <div style="width: 50%;">
                        <mat-form-field appearance="outline">
                            <mat-label style="">Email</mat-label>
                            <input matInput placeholder="" class="input-f" formControlName="email">
                            <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">please enter email</mat-error>
                            <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">please enter a valid email</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <br><br>
                <div class="btns">
                    <button id="c-acct" (click)="navigateToLogin()">SignIn</button>
                    <!-- <a href="">SignIn</a> -->
                    <button mat-flat-button type="submit" color="primary" style="border-radius: 1rem;">Next</button>
                </div> -
            </form>

        </div>

    </div>
    <div class="terms">
        <div class="terms1">
            <p>English(United States)</p>
        </div>
        <div class="terms2">
            <a href="">Help</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>

        </div>
    </div>
</div>