<div class="parent-div">
    <div class="child-div">
        <div class="g-div">
            <img [src]="'assets/Images/flat-color-icons--google.svg'" width="48" height="48" alt="ggiyu">

        </div><br>
        <div class="forgot-div">
            <form style="width: 100%;" [formGroup]="resetForm" (ngSubmit)="resetSubmit()">
                <div class="form-div">
                    <div style="width: 50%;">
                        <p style="font-size: 3vw;padding-left: 11px;">Reset your password</p>
                    </div>
                    <div class="input-fields">
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>New Password</mat-label>
                                <input matInput placeholder="" class="input-f" formControlName="password">
                                <mat-error *ngIf="resetForm.get('password')?.hasError('required')">please enter
                                    password</mat-error>
                                <mat-error *ngIf="resetForm.get('password')?.hasError('pattern')">please enter a valid
                                    password</mat-error>
                            </mat-form-field>
                        </div><br>
                        <div>
                            <mat-form-field appearance="outline">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput placeholder="" class="input-f" formControlName="confirmPassword">
                                <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('required')">please enter confirm
                                    password</mat-error>
                                <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('mustMatch')">Passwords must match</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
                <br><br>
                <div class="btns">
                    <!-- <button id="c-acct" (click)="navigateToLogin()">SignIn</button> -->
                    <button mat-flat-button type="submit" color="primary" style="border-radius: 1rem;">Reset</button>
                </div> -
            </form>

        </div>

    </div>
    <div class="terms">
        <div class="terms1">
            <p>English(United States)</p>
        </div>
        <div class="terms2">
            <a href="">Help</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>

        </div>
    </div>
</div>